<html>
    <div>
    	<h2><a href="/productos/{{producto.id}}/">{{producto.nombre}}</a></h2>
        <p>{{producto.descripcion}}</p>
        <p>{{producto.precio}}</p>
    </div>
    <div>
    	<form action="/productos/{{producto.id}}/comentario/nuevo/" method="post">
			{% csrf_token %}
    		{% for field in comentario_form %}
    			{{field}}
    		{% endfor %}
    		<input type="submit" value="comentar!" />
    	</form>
    </div>
    <div>
    	{% for comentario in comentarios %}
    		<hr />
    		<div class="comentario">
    			<span>{{ user.username }}</span>
    			<p>{{ comentario.texto }}</p>
    			<span>{{ comentario.creado }}</span>
    		</div>
    	{% endfor %}
    </div>
</html>