<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Mi primera pagina con estilo</title>
  <link rel="stylesheet" href="/css/eliminar-material-adm.css">
</head>
<body>


<div id="hd">
	<div id="titulo">
		<h2 id="nombre-sitio">Frasim administrador</h2>
	</div>
	<div id="user">
		<p>Bienvenido, Usuario. <a href="#">Cambiar password</a> / <a href="{% url vista_login%}">Salir</a></p>
		
	</div>
</div>

<div id ="imagen1">
	<img  src="header.png">
</div>

<div id="cuerpo">
	<img id="imagen2" src="frasim.png"  >
	<div id='cssmenu'>
		<ul>
			<li class='has-sub '><a href='#'><span>Bodegas y Areas</span></a>
				<ul>
					<li><a href='adm.html'><span>Agregar</span></a></li>
					<li><a href='actualizar-bodega.html'><span>Actualizar</span></a></li>
					<li><a href='eliminar-bodega.html'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='#'><span>Cotizaciones</span></a>
				<ul>
					<li><a href='cotizar-adm.html'><span>Crear</span></a></li>
					<li><a href='eliminar-cotizar-adm.html'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='#'><span>Despachos</span></a>
				<ul>
					<li><a href='despacho-adm.html'><span>Agregar</span></a></li>
					<li><a href='eliminar-despacho-adm.html'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='#'><span>Material</span></a>
				<ul>
					<li><a href="{% url material_adm%}"><span>Agregar</span></a></li>
					<li><a href="actualizar-material-adm.html"><span>Actualizar</span></a></li>
					<li><a href="{% url eliminar_material_adm%}"><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='#'><span>Orden de Compra</span></a>
				<ul>
					<li><a href='orden-adm.html'><span>Agregar</span></a></li>
					<li><a href='eliminar-orden-adm.html'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='#'><span>Proveedores</span></a>
				<ul>
					<li><a href='proveedor-adm.html'><span>Agregar</span></a></li>
					<li><a href='actualizar-proveedor-adm.html'><span>Actualizar</span></a></li>
					<li><a href='eliminar-proveedor-adm.html'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			<li class='has-sub '><a href='#'><span>Vendedores</span></a>
				<ul>
					<li><a href='vendedor-adm.html'><span>Agregar</span></a></li>
					<li><a href='actualizar-vendedor-adm.html'><span>Actualizar</span></a></li>
					<li><a href='eliminar-vendedor-adm.html'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			<li class='has-sub '><a href='#'><span>Ventas</span></a>
				<ul>
					<li><a href='ventas-adm.html'><span>Crear</span></a></li>
					<li><a href='eliminar-ventas-adm.html'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			
			
		</ul>
	</div>
	
	<div id="contenido">
		<div id='csshor'>
		<ul>
			<li ><a href="material-adm.html"><span>Agregar</span></a></li>
			<li><a href="actualizar-material-adm.html"><span>Actualizar</span></a></li>
			<li class='active '><a href="eliminar-material-adm.html"><span>Eliminar</span></a></li>
			
		</ul>
		</div>
			
		<div id="ventana">
			<img id="imagen3" src="footer.gif"  >
			<h2>::::::Eliminar Material::::::</h2>	
			
			
			<div id="tabla">
				<table size="15">
					
					<tr>
						<th scope="col" width=100>Cantidad</th>
						<th scope="col" width=100>Rut vendedor</th>
						<th scope="col" width=100>Codigo</th>
						<th scope="col" width=150>Nombre Producto</th>
						<th scope="col" width=100>Precio</th>
					</tr>
					
					{% if materiales%}
					
						{% for elemento in materiales %}
							<tr class="aa" bgcolor="silver">
								<td width=100>{{elemento.nombre_material}}</td>
								<td width=100>{{elemento.nombre_material}}</td>
								<td width=100>{{elemento.nombre_material}}</td>
								<td width=100>{{elemento.nombre_material}}</td>
								<td width=100>{{elemento.nombre_material}}</td>
							</tr>
						{% endfor %}
					{% endif %}
					
				
					
				</table>
			
			</div>
			
			<a href="http://jaidefinichon.com/" id="Boton">Eliminar Material</a>
			
			
		
		</div>
	</div>
	
</div>




</body>
</html>