<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Mi primera pagina con estilo</title>
  <style rel="stylesheet">{% include './cotizar-vendedor.css'%}</style>
</head>
<body>


<div id="hd">
	<div id="titulo">
		<img id="imagen3" src="/templates/inc.png"  >
		<h2 id="nombre-sitio">Frasim Vendedor</h2>
	</div>
	<div id="user">
		<img id="imagen4" src="/templates/usuario.png"  >
	</div>
	<div id="user1">
		<a href="#">Usuario</a>
	</div>
	<div id="config">
		<img id="imagen5" src="/templates/configurar.png"  >
	</div>
	<div id="config1">
		<a href="#">Configuracion</a>
	</div>
	
	<div id="logout">
		<a href="{% url vista_login%}" class='botonrss'>Logout</a>
	</div>
</div>

<div id ="imagen1">
	<img  src="/templates/header.png">
</div>

<div id="cuerpo">

	<div id='cssmenu'>
		<ul>
			<li class='has-sub '><a href='{% url ventas_vendedor%}'><span>Ventas</span></a>
				<ul>
					<li><a href='{% url ventas_vendedor%}'><span>Crear</span></a></li>
					<li><a href='{% url carro_ventas_vendedor%}'><span>Visualizar Venta</span></a></li>
					<li><a href='{% url eliminar_ventas_vendedor%}'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			
			<li class='has-sub '><a href='{% url cotizar_vendedor%}'><span>Cotizaciones</span></a>
				<ul>
					<li><a href='{% url cotizar_vendedor%}'><span>Crear</span></a></li>
					<li><a href='{% url carro_cotizar_vendedor%}'><span>Visualizar Cotizacion</span></a></li>
					<li><a href='{% url eliminar_cotizar_vendedor%}'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			
			<li class='has-sub '><a href='{% url material_vendedor%}'><span>Material</span></a>
				<ul>
					<li><a href='{% url material_vendedor%}'><span>Lista Material</span></a></li>
					
					
					
				</ul>
			</li>
			<li><a href='{% url kits_vendedor%}'><span>KITS</span></a></li>
			<li><a href='{% url compatible_vendedor%}'><span>Compatibilidad</span></a></li>
			<li><a href='{% url localizacion_vendedor%}'><span>Localizacion</span></a></li>
			
		</ul>
	</div>
	
	<div id="contenido">
		
		<div id='csshor'>
		<ul>
			<li class="active"><a href='{% url cotizar_vendedor%}'><span>Crear</span></a></li>
			<li><a href='{% url carro_cotizar_vendedor%}'><span>Visualizar Cotizacion</span></a></li>
			<li><a href='{% url eliminar_cotizar_vendedor%}'><span>Eliminar</span></a></li>
			
		</ul>
		</div>
		
		<div id="ventana">
			<img id="imagen3" src="/templates/footer.gif"  >
			<h2>::::::Crear Cotizacion::::::</h2>
			<div id="formulario">
				<form action="," method="POST">
						
						{%csrf_token%}
						{{informacion}}
						
						<div id="forma4">
							<label>Grupos:</label>
							<select name="opcion"> 
								{% if grupos%}
									{% for elemento in grupos%}
										<option value="{{elemento.nombre_tipo_material}}">{{elemento.nombre_tipo_material}}</option>
									{% endfor %}
								{% endif %}
								<option value="kits">kits</option>
							</select>
						</div>
						
						
						
						<input id="buscar" type="submit" value="buscar" name="busca">
						
						
						
				</form>
			</div>
			
			<form  action="" method="POST">
				{%csrf_token%}
				<div id="tabla">
					<table size="15";>
						
						<tr>
							<th scope="col" width=100>seleccion</th>
							<th scope="col" width=100>Codigo</th>
							<th scope="col" width=100>Grupo</th>
							<th scope="col" width=100>Marca</th>
							<th scope="col" width=100>Modelo</th>
							<th scope="col" width=150>Nombre</th>
							<th scope="col" width=100>Precio</th>
							<th scope="col" width=100>Cantidad</th>
						</tr>
						
						{% if materiales%}
						
							{% for elemento in materiales %}
								<tr class="aa" bgcolor="silver">
									<td width=100> <input type="checkbox" name="{{elemento.cod_material}}" value="{{elemento.cod_material}}"> </td>
									<td width=100>{{elemento.cod_material}}</td>
									<td width=100>{{elemento.cod_tipo_mat}}</td>
									<td width=100>{{elemento.id_marca}}</td>
									<td width=100>{{elemento.id_modelo}}</td>
									<td width=100>{{elemento.nombre_material}}</td>
									<td width=100>{{elemento.precio_material}}</td>
									<td width=100>{{elemento.cantidad_material}}</td>
								</tr>
							{% endfor %}
						{% endif %}
						
						
					</table>
				
				</div>
				<input id="agregar" type="submit" value="agregar" name="busca">
			</form>
			{{informacion}}
		
		</div>
	</div>
	
</div>




</body>
</html>