<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Mi primera pagina con estilo</title>
  <style rel="stylesheet">{% include './carro-ventas-vendedor.css'%}</style>
</head>
<body>


<div id="hd">
	<div id="titulo">
		<h2 id="nombre-sitio">Frasim vendedor</h2>
	</div>
	<div id="user">
		<p>Bienvenido, Usuario. <a href="#">Cambiar password</a> / <a href="{% url vista_login%}">Salir</a></p>
		
	</div>
</div>

<div id ="imagen1">
	<img  src="/templates/header.png">
</div>

<div id="cuerpo">
	<img id="imagen2" src="/templates/frasim.png"  >
	<div id='cssmenu'>
		<ul>
			<li class='has-sub '><a href='{% url ventas_vendedor%}'><span>Ventas</span></a>
				<ul>
					<li><a href='{% url ventas_vendedor%}'><span>Crear</span></a></li>
					<li><a href='{% url carro_ventas_vendedor%}'><span>Visualizar Venta</span></a></li>
					<li><a href='{% url eliminar_ventas_vendedor%}'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			
			<li class='has-sub '><a href='{% url cotizar_vendedor%}'><span>Cotizaciones</span></a>
				<ul>
					<li><a href='{% url cotizar_vendedor%}'><span>Crear</span></a></li>
					<li><a href='{% url carro_cotizar_vendedor%}'><span>Visualizar Cotizacion</span></a></li>
					<li><a href='{% url eliminar_cotizar_vendedor%}'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			
			<li class='has-sub '><a href='{% url material_vendedor%}'><span>Material</span></a>
				<ul>
					<li><a href='{% url material_vendedor%}'><span>Lista Material</span></a></li>
					
					
					
				</ul>
			</li>
			
		</ul>
	</div>
	
	<div id="contenido">
		
		<div id='csshor'>
		<ul>
			<li><a href='{% url ventas_vendedor%}'><span>Crear</span></a></li>
			<li class="active"><a href='{% url carro_ventas_vendedor%}'><span>Visualizar Venta</span></a></li>
			<li><a href='{% url eliminar_ventas_vendedor%}'><span>Eliminar</span></a></li>
			
		</ul>
		</div>
		
		<div id="ventana">
			<img id="imagen3" src="/templates/footer.gif"  >
			<h2>::::::Carro Ventas::::::</h2>
			<div id="formulario">
				<form action="," method="POST">
						
						{%csrf_token%}
						{{informacion}}
						
						<div id="forma1">
							<label> Rut Vendedor:</label>
							{{ form.rut_vendedor}}
						
						</div>
						<div id="forma2">
							<label> Fecha Venta:</label>
							{{ form.fecha_venta}}
						
						</div>
						<div id="forma3">
							<label>Hora Venta:</label>
							{{ form.hora_venta}}
						
						</div>
						<input id="generar" type="submit" value="generar venta" name="elige">
				</form>
			</div>
			
			<form  action="" method="POST">
				{%csrf_token%}
				<div id="tabla">
					<table size="15";>
						
						<tr>
							<th scope="col" width=100>seleccion</th>
							<th scope="col" width=100>Codigo</th>
							<th scope="col" width=100>Grupo</th>
							<th scope="col" width=100>Marca</th>
							<th scope="col" width=100>Modelo</th>
							<th scope="col" width=150>Nombre</th>
							<th scope="col" width=100>Precio</th>
							<th scope="col" width=100>Cantidad</th>
						</tr>
						
						{% if productos%}
						
							{% for elemento in productos %}
								<tr class="aa" bgcolor="silver">
									<td width=100> <input type="checkbox" name="{{elemento.codigo_material}}" value="{{elemento.codigo_material}}"> </td>
									<td width=100>{{elemento.codigo_material}}</td>
									<td width=100>{{elemento.marca}}</td>
									<td width=100>{{elemento.modelo}}</td>
									<td width=100>{{elemento.codigo_tipo_mat}}</td>
									<td width=100>{{elemento.nombre}}</td>
									<td width=100>{{elemento.precio}}</td>
									<td width=100>{{elemento.cantidad}}</td>
								</tr>
							{% endfor %}
						{% endif %}
						
						
					</table>
				
				</div>
				<input id="eliminar" type="submit" value="eliminar" name="elige">
				
				
			</form>
			<div id="info10">
			{{informacion}}
			</div>
		
		</div>
	</div>
	
</div>


<address id="contacto">Autor: Caitani  ,  Direccion: Frasim #3333  , Fono: (02) 8403854 </address>s

</body>
</html>