<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Mi primera pagina con estilo</title>
      <style rel="stylesheet"  >
  	{% include './material-vendedor.css' %}
  </style>
</head>
<body>


<div id="hd">
	<div id="titulo">
		<h2 id="nombre-sitio">Frasim vendedor</h2>
	</div>
	<div id="user">
		<p>Bienvenido, Usuario. <a href="#">Cambiar password</a> / <a href="{% url vista_login%}">Salir</a></p>
		
	</div>
</div>

<div id ="imagen1">
	<img  src="/templates/header.png">
</div>

<div id="cuerpo">
	<img id="imagen2" src="/templates/frasim.png"  >
	<div id='cssmenu'>
		<ul>
			<li class='has-sub '><a href='{% url ventas_vendedor%}'><span>Ventas</span></a>
				<ul>
					<li><a href='{% url ventas_vendedor%}'><span>Crear</span></a></li>
					<li><a href='{% url carro_ventas_vendedor%}'><span>Visualizar Venta</span></a></li>
					<li><a href='{% url eliminar_ventas_vendedor%}'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			
			<li class='has-sub '><a href='{% url cotizar_vendedor%}'><span>Cotizaciones</span></a>
				<ul>
					<li><a href='{% url cotizar_vendedor%}'><span>Crear</span></a></li>
					<li><a href='{% url carro_cotizar_vendedor%}'><span>Visualizar Cotizacion</span></a></li>
					<li><a href='{% url eliminar_cotizar_vendedor%}'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			
			<li class='has-sub '><a href='{% url material_vendedor%}'><span>Material</span></a>
				<ul>
					<li><a href='{% url material_vendedor%}'><span>Lista Material</span></a></li>
					
					
					
				</ul>
			</li>
			
			
		</ul>
	</div>
	
	<div id="contenido">
		<div id='csshor'>
		<ul>
			
			<li class="active"><a href='{% url material_vendedor%}'><span>Ver lista</span></a></li>
			
		</ul>
		</div>
			
		<div id="ventana">
			<img id="imagen3" src="/templates/footer.gif"  >
			<h2>::::::Lista Materiales::::::</h2>	
			
			
				
				<div id="tabla">
					<table size="15">
						
						<tr>
							
							
							<th scope="col" width=100>Codigo</th>
							<th scope="col" width=100>Grupo</th>
							<th scope="col" width=100>Marca</th>
							<th scope="col" width=100>Modelo</th>
							<th scope="col" width=150>Nombre</th>
							<th scope="col" width=100>Precio</th>
							<th scope="col" width=100>Cantidad</th>
						</tr>
						
						{% if materiales%}
						
							{% for elemento in materiales %}
								<tr class="aa" bgcolor="silver">
								
									<td width=100>{{elemento.cod_material}}</td>
									<td width=100>{{elemento.cod_tipo_mat}}</td>
									<td width=100>{{elemento.id_marca}}</td>
									<td width=100>{{elemento.id_modelo}}</td>
									<td width=100>{{elemento.nombre_material}}</td>
									<td width=100>{{elemento.precio_material}}</td>
									<td width=100>{{elemento.cantidad_material}}</td>
								</tr>
							{% endfor %}
						{% endif %}
						
					
						
					</table>
				
				</div>

			
			
			{{informacion}}
			
			
			
			
		
		</div>
	</div>
	
</div>


<address id="contacto">Autor: Caitani  ,  Direccion: Frasim #3333  , Fono: (02) 8403854 </address>

</body>
</html>