<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Mi primera pagina con estilo</title>
  <style rel="stylesheet"  >
  	{% include './act-proveedor.css' %}
  </style>
</head>
<body>


<div id="hd">
	<div id="titulo">
		<img id="imagen3" src="/templates/inc.png"  >
		<h2 id="nombre-sitio">Frasim administrador</h2>
	</div>
	<div id="user">
		<img id="imagen4" src="/templates/usuario.png"  >
	</div>
	<div id="user1">
		<a href="#">Usuario</a>
	</div>
	<div id="config">
		<img id="imagen5" src="/templates/configurar.png"  >
	</div>
	<div id="config1">
		<a href="#">Configuracion</a>
	</div>
	
	<div id="logout">
		<a href="{% url vista_login%}" class='botonrss'>Logout</a>
	</div>
</div>

<div id ="imagen1">
	<img  src="/templates/header.png">
</div>

<div id="cuerpo">
	

	<div id='cssmenu'>
		<ul>
			<li class='has-sub '><a href='{% url vista_bodega%}'><span>Bodegas, Areas y Grupos</span></a>
				<ul>
					<li><a href='{% url vista_bodega%}'><span>Agregar</span></a></li>
					<li><a href='{% url actualizar_bodega%}'><span>Actualizar</span></a></li>
					<li><a href='{% url eliminar_bodega%}'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='{% url cotizar_adm%}'><span>Cotizaciones</span></a>
				<ul>
					<li><a href='{% url cotizar_adm%}'><span>Crear</span></a></li>
					<li><a href='{% url carro_cotizar%}'><span>Visualizar Cotizacion</span></a></li>
					<li><a href='{% url eliminar_cotizar%}'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='{% url despacho_adm%}'><span>Despachos</span></a>
				<ul>
					<li><a href='{% url despacho_adm%}'><span>Agregar</span></a></li>
					<li><a href='{% url carro_despacho%}'><span>Visualizar Despacho</span></a></li>
					<li><a href='{% url eliminar_despacho%}'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='{% url material_adm%}'><span>Material</span></a>
				<ul>
					<li><a href='{% url material_adm%}'><span>Agregar</span></a></li>
					<li><a href="{% url actualizar_material%}"><span>Actualizar</span></a></li>
					<li><a href='{% url eliminar_material_adm%}'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href='{% url orden_adm%}'><span>Orden de Compra</span></a>
				<ul>
					<li><a href='{% url orden_adm%}'><span>Agregar</span></a></li>
					<li><a href='{% url carro_orden%}'><span>Visualizar O/C</span></a></li>
					<li><a href='{% url eliminar_orden%}'><span>Eliminar</span></a></li>
					
					
				</ul>
			</li>
			<li class='has-sub '><a href="{% url agregar_proveedor%}"><span>Proveedores</span></a>
				<ul>
					<li><a href='{% url agregar_proveedor%}'><span>Agregar</span></a></li>
					<li><a href="{% url actualizar_proveedor%}"><span>Actualizar</span></a></li>
					<li><a href='{% url eliminar_proveedor%}'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			<li class='has-sub '><a href="{% url agregar_vendedor%}"><span>Vendedores</span></a>
				<ul>
					<li><a href='{% url agregar_vendedor%}'><span>Agregar</span></a></li>
					<li><a href="{% url actualizar_vendedor%}"><span>Actualizar</span></a></li>
					<li><a href='{% url eliminar_proveedor%}'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			<li class='has-sub '><a href='{% url ventas_adm%}'><span>Ventas</span></a>
				<ul>
					<li><a href='{% url ventas_adm%}'><span>Crear</span></a></li>
					<li><a href='{% url carro_ventas%}'><span>Visualizar Venta</span></a></li>
					<li><a href='{% url eliminar_ventas%}'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			<li class='has-sub '><a href='{% url kits_adm%}'><span>KITS</span></a>
				<ul>
					<li><a href='{% url kits_adm%}'><span>Agregar</span></a></li>
					<li><a href="{% url carro_kits_adm%}"><span>Actualizar</span></a></li>
					<li><a href='{% url eliminar_kits_adm%}'><span>Eliminar</span></a></li>
					
				</ul>
			</li>
			<li><a href='{% url compatible%}'><span>Compatibilidad</span></a></li>
			<li><a href='{% url localizacion%}'><span>Localizacion</span></a></li>
		</ul>
	</div>
	
	<div id="contenido">
		
		<div id='csshor'>
			<ul>
				<li><a href='{% url agregar_proveedor%}'><span>Agregar</span></a></li>
				<li class="active"><a href="{% url actualizar_proveedor%}"><span>Actualizar</span></a></li>
				<li><a href='{% url eliminar_proveedor%}'><span>Eliminar</span></a></li>
				
			</ul>
		</div>
		
		<div id="ventana">
			<img id="imagen3" src="/templates/footer.gif"  >
				
			
			
		
		</div>

		<div id='cssformulario'>
				<h2>::::::Actualizar Proveedor::::::</h2></br></br>


				<form action="," method="POST">
					{%csrf_token%}
					
					<div id="forma">
					<label>Rut:</label>
					<input type="text" name="rut" value="{{proveedor.rut_proveedor}}"><br>
					</div>
					<div id="forma1">
					<label>Nombre:</label>
					<input type="text" name="nombre"><br>
					</div>
					<div id="forma2">
					<label>Direccion:</label>
					<input type="text" name="direccion"><br>
					</div>
					<div id="forma3">
					<label>Fono:</label>
					<input type="text" name="fono"><br>
					</div>
					<div id="forma4">
					<label>Movil:</label>
					<input type="text" name="movil"><br>
					</div>
					<div id="forma5">
					<label>Correo:</label>
					<input type="text" name="correo"><br>
					</div>
				
					
					
					
					
					<input id="act" type="submit" value="Actualizar">

					{{informacion}}
					
				</form>
			
		</div>
	</div>
	
</div>




</body>
</html>